@import "../scss/variables.scss";
@import "../scss/mixins.scss";

.banner {
    width: 100%;
    height: 100%;
    background-color: $white;
}

.banner-empty-box {
    width: 100%;
    height: 111px;
}

.banner-block {
    width: 100%;
    @media screen and (min-width: 700px) {
        display: flex;
    }
}

.banner-block-top {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 700px) {
        width: 50%;
        order: 2;
    }
    .banner-block-top__girl {
        width: 100%;
    }
}

.banner-block-bottom {
    display: flex;
    flex-direction: column;
    position: relative;
    @media screen and (min-width: 700px) {
        width: 50%;
        background-image: url('../images/bg.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        align-items: center;
        justify-content: center;
        order: 1;
    }
    .banner-block-bottom__title::before {
        content: "";
        width: 100%;
        height: 92px;
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, $white 45.31%);
        position: absolute;
        left:0px;
        top:-50px;
        z-index: -1;
        @media screen and (min-width: 700px) {
            display: none;
        }
    }
    .banner-block-bottom__title {
        width: 100%;
        @include stitle ();
        margin-bottom: 22px;
        z-index: 1;
        @media screen and (min-width: 700px) {
            width: 80%;
            font-size: 52px;
            line-height: 57px;
        }
    }
    .banner-block-bottom-buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        .banner-block-bottom-buttons__sachets {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 18px;
            width: 230px;
            height: 48px;
            background: $orange;
            font-family: 'Proxima-Nova', sans-serif;
            border: $orange;
            font-weight: 400;
            font-size: 11px;
            letter-spacing: 0.1em;
            color: $white;
            margin-bottom: 12px;
            @media screen and (min-width: 700px) {
                width: 323px;
                height: 51px;
                font-size: 14px;
            }
        }
        .banner-block-bottom-buttons__all {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 18px;
            width: 230px;
            height: 48px;
            background: $dgray;
            border: $dgray;
            font-family: 'Proxima-Nova', sans-serif;
            font-weight: 400;
            font-size: 11px;
            letter-spacing: 0.1em;
            color: $white;
            margin-bottom: 12px;
            @media screen and (min-width: 700px) {
                width: 323px;
                height: 51px;
                font-size: 14px;
            }
        }
    }
}