@import "../scss/variables.scss";

header {
    width: 100%;
    position: fixed;
    z-index: 3;
}

.heading {
    width: 100%;
    height: 66.7px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: $gray;
    margin: 0 auto;
    .heading__excerpt {
        width: 234px;
        height: 100%;
        line-height: 16px;
        font-family: 'Proxima-Nova', sans-serif;
        font-weight: 400;
        letter-spacing: 2px;
        font-size: 8.9px;
        color: $dgray;
        padding: 9.6px;
    }
    .heading__link {
        text-decoration: none;
        font-weight: 600;
        font-style: italic;
        color: $orange;
    }
    @media screen and (min-width: 574px) {
        .heading__excerpt {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    @media screen and (min-width: 920px) {
        .heading__excerpt {
            font-size: 10px;
        }
    }
    @media screen and (min-width: 1008px) {
        .heading__excerpt {
            font-size: 11px;
        }
    }
}

.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: $white;
    .navigation-desktop {
        display: none;
    }
    .navigation-button {
        display: none;
    }
    .navigation__burger {
        width: 24px;
    }
    .navigation__logo {
        width: 120px;
        margin-right: 15px;
    }
    .navigation-icons {
        display: flex;
        align-items: center;
        .navigation-icons__search {
            width: 17.22px;
            margin-left: 10px;
        }
        .navigation-icons__account {
            width: 15.08px;
            margin-left: 10px;
        }
        .navigation-icons__bag {
            width: 17px;
            margin-left: 10px;
        }
    }
    @media screen and (min-width: 920px) {
        .navigation__logo {
            width: 120px;
        }
        .navigation-icons {
            margin-left: 20px;
        }
        .navigation__burger {
            display: none;
        }
        .navigation-desktop {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            .navigation-desktop__buttons {
                display: flex;
                font-family: 'Proxima-Nova', sans-serif;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 8px;
                background-color: transparent;
                border: none;
                color: $dgray;
                font-weight: 400;
                text-align: left;
            }
            .navigation-desktop__buttons:hover {
                color: $orange;
            }
        }
        .navigation-button {
            display: block;
            .navigation-button__take {
                background: $orange;
                border: $orange;
                font-family: 'Proxima-Nova', sans-serif;
                font-weight: 400;
                font-size: 12px;
                letter-spacing: 0.1em;
                color: $white;
                width: 160px;
                margin-left: 15px;
                height: 33px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    @media screen and (min-width: 1050px) {
        .navigation__logo {
            width: 150px;
        }
        .navigation-desktop {
            .navigation-desktop__buttons {
                font-size: 11px;
            }
        }
        .navigation-button__take {
                width: 161px;
                font-size: 13px;
        }
    }
}