@import "../scss/variables.scss";

.instagram {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
    background-color: rgb(251, 251, 251);
}

.instagram-top {
    width: 232px;
    height: 232px;
    display: flex;
    padding: 0px 20px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: $gray;
    margin-bottom: 30px;
    @media screen and (min-width: 700px) {
        margin-bottom: 0px;
        margin-right: 20px;
        margin-left: 20px;
        padding: 0;
    }
    .instagram-top__text {
        font-family: 'Proxima-Nova', sans-serif;
        font-weight: 400;
        font-size: 10px;
        line-height: 1.65;
        margin: 20px 0px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 700px) {
            width: 90%;
        }
    }
    .fa-brands {
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .instagram-top__account {
        font-family: 'Proxima-Nova', sans-serif;
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 2px;
        line-height: 1.2;
        margin-bottom: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.instagram-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 700px) {
        width: 80%;
    }
    .instagram-bottom-posts {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media screen and (min-width: 700px) {
            flex-direction: row;
            flex-wrap: wrap;
        }
        .instagram-bottom__posts {
            width: 232px;
            height: 232px;
            object-fit: cover;
        }
        .instagram-bottom__posts-desktop {
            display: none;
            width: 232px;
            height: 232px;
            object-fit: cover;
            @media screen and (min-width: 700px) {
                display: flex;
            }
        }
    }
    .instagram-bottom__posts:hover {
        transition: all 0.5s;
        filter: brightness(50%);
    }
    .instagram-bottom__posts-desktop:hover {
        transition: all 0.5s;
        filter: brightness(50%);
    }
}

.instagram-container {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 700px) {
        display: flex;
        flex-direction: row;
    }
}

.instagram__title {
    line-height: 1.2;
    font-family: 'Cormorant', serif;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 30px;
    @media screen and (min-width: 700px) {
        position: relative;
        left: 135px;
        font-size: 24px;
    }
}