.sign-up {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    background-color: #f4f4f4;
}

.sign-up__title {
    width: 90%;
    font-family: 'Cormorant', serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4A4A4A;
    justify-content: center;
    margin-bottom: 27px;
}

.sign-up__text {
    width: 90%;
    font-family: 'Proxima-Nova', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #4A4A4A;
    margin-bottom: 20px;
}

.sign-up__email {
    width: 232px;
    background: #FFFFFF;
    font-family: 'Proxima-Nova', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #4A4A4A;
    border: none;
    padding: 20px 15px;
    outline: none;
}

.sign-up-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sign-up-button__sign {
        background: #4A4A4A;
        border: #4A4A4A;
        font-family: 'Proxima-Nova', sans-serif;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        width: 232px;
        margin: 15px 15px 0px;
        height: 45px;
    }
}