@import "../scss/variables.scss";
@import "../scss/mixins.scss";

.top-rated {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.top-rated__title {
    @include stitle ();
    flex-direction: column;
    margin-bottom: 15px;
    @media screen and (min-width: 700px) {
        font-size: 42px;
    }
}

.top-rated-list {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    column-gap: 30px;
    justify-items: center;
    .top-rated-list-articles {
        margin: 25px 0px;
    }
    .top-rated-list-articles__pic {
        width: 230px;
        height: 268px;
        object-fit: cover;
    }
    .top-rated-list-articles__pic:hover {
        filter: brightness(80%);
        transition: all 0.2s;
    }
    .top-rated-list-articles-stars {
        margin: 15px 0px 25px;
        .fa-solid {
            font-size: 12px;
            color: $star;
            letter-spacing: 0.3em;
        }
    }
    .top-rated-list-articles__title {
        font-family: 'Proxima-Nova', sans-serif;
        font-weight: 400;
        font-size: 11px;
        letter-spacing: 0.1em;
        color: $dgray;
        text-transform: uppercase;
        margin: 15px 0px;
    }
    .top-rated-list-articles__price {
        height: 15px;
        font-family: 'Proxima-Nova', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: $dgray;
    }
}

.top-rated-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .top-rated-button__shop {
        @include sgbutton ();
        margin: 30px 15px;
        @media screen and (min-width: 700px) {
            @include bgbutton ();
            margin-bottom: 100px;
        }
    }
    .top-rated-button__shop:hover {
        background-color: $bh;
    }
}