@import "../scss/variables.scss";

.video-block {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

.video-block__title {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 32px;
    font-family: 'Cormorant';
    color: $dgray;
    font-weight: 300;
    margin-bottom: 30px;
    @media screen and (min-width: 700px) {
        font-size: 40px;
    }
}

.video-block__video {
    width: 100%;
    @media screen and (min-width: 700px) {
        width: 82%;
        display: flex;
        margin: 0 auto;
    }
}