.wholesaler {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 50px;
    background-color: rgb(205, 215, 217);
}

.wholesaler-top {
    .wholesaler-top__pic {
        max-width: 100%;
        height: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
    }
}

.wholesaler-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .wholesaler-bottom__title {
        width: 90%;
        font-family: 'Cormorant', serif;
        font-weight: 300;
        font-size: 30px;
        line-height: 36px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #4A4A4A;
        justify-content: center;
        margin: 25px 0px;
    }
    .wholesaler-bottom-button {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .wholesaler-bottom-button__become {
            background: #4A4A4A;
            border: #4A4A4A;
            font-family: 'Proxima-Nova', sans-serif;
            font-weight: 400;
            font-size: 12px;
            letter-spacing: 0.1em;
            color: #FFFFFF;
            width: 232px;
            margin: 0px 15px;
            height: 45px;
        }
    }
}